 .container{
  text-align:center;
 }
.container .weather{
  display:flex;
  flex-direction:column;
  justify-content :center;
  align-items: center;
  /* width:1200px; */
  max-width:800px;
  margin:20px auto;
  padding:20px;
  background:#f2f42f;
  border:2px solid red;
  border-radius:10px;
  box-shadow:5px 5px 10px 10px rgba(100,200,250,0.5);
}
